.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 70px;

background:#111827;

position:sticky;

top:0;

z-index:999;

}

.nav-logo h2{

color:#60A5FA;

font-size:30px;

}

.nav-links{

display:flex;

gap:35px;

list-style:none;

}

.nav-links li a{

text-decoration:none;

color:white;

font-size:18px;

transition:.3s;

}

.nav-links li a:hover{

color:#60A5FA;

}

.admin-btn{

background:#3B82F6;

border:none;

padding:12px 22px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.admin-btn:hover{

background:#2563EB;

}

.admin-btn a{

text-decoration:none;

color:white;

font-weight:bold;

}

.menu-icon{

display:none;

color:white;

font-size:30px;

cursor:pointer;

}
.close-nav{
    display:none;
}

@media(max-width:768px){

.nav-links{

position:fixed;

top:0;

right:-100%;

width:260px;

height:100vh;

background:#111827;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

transition:.4s;

}

.nav-links.active{

right:0;

}

.menu-icon{

display:block;

}

.admin-btn{

display:none;

}
.close-nav{
    display:block;
    background:none;
    border:none;
    color:white;
    font-size:28px;
    position:absolute;
    top:20px;
    right:20px;
    cursor:pointer;
}

}